/*
 * header css File
*/

.header {
    display: flex;
    height: 77px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.navbar {
  height: 77px;
    background-color: #333333 !important;
}

.icon{
  color:white;
  font-size: 16px;
}
.icon-container{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 20px 0 0;
}
.icon-container a{
  padding: 0;
}
.icon-container p{
  color: white;
  font-size: 8px;
  margin: 0;
}
